.abt{
  padding: 100px 0 0 0;
  text-decoration: underline;
  font-size: 2.5rem;
  color: #25234D;
}
body.dark .abt{
  color: #F3F1F5;
}
.aboutme_container{
  min-height: 100vh;
  padding: 0 100px 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100x;
}
.aboutme_div{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 42px;
}
.aboutme_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 470px;
  padding: 50px;
  text-align: justify;
  gap: 15px;
  border-radius: 42px;
  margin-left: 240px;
  margin-top: 33px;
  box-shadow: 6px 6px 6px #25234D;
  z-index: 0;
  background-color: #F3415B;
  color: white;
}

body.dark .aboutme_text{
  background-color: #164678;
  box-shadow: 6px 6px 6px #F3F1F5
}

.aboutme_text p{
  z-index: 1;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
.aboutme_img{
  /* width: 600px; 
  height: 500px;  */
  width: 400px;
  height: 400px;
  z-index: 0;  
  position: relative;
  overflow: hidden;
  border-radius: 50%; 
  background: white;
  margin: 60px 100px 51px 100px;
}

body.dark .aboutme_img{
  background: transparent;
}

.aboutme_img::before{
  content: "";
  position: absolute;
  inset: -10px 120px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: rotate 15s linear infinite;
}
.aboutme_img:hover::before{
  inset: -20px 0px;
}
@keyframes rotate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg)
  }
}
.aboutme_img::after{
  content: "";
  position: absolute;
  inset: 6px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

body.dark .aboutme_img::after{
  background: #191924;
}

.content{
  position: absolute;
  inset: 20px;
  border: 6px solid #070a1c;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

body.dark .content{
  border: 6px solid #191924;
}

.content img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
}

@media (width < 768px){
  .aboutme_container{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutme_div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  } 
  .aboutme_text{
    margin-left: 0;
    width: 500px;
    height: 480px;
    padding: 100px;
  }
  .aboutme_img{
    z-index: 1;
    padding: 33px;
  }
  .foto{
    z-index: 0;
    width: 70%;
  }
}
@media (width < 480px) {
  .aboutme_container{
    max-width: 100vw;
    display: flex;
  }

  .aboutme_div{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .aboutme_text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 380px;
    padding: 24px;
  }

  .aboutme_text p{
    font-size: 15px;
  }
  .aboutme_img{
    display: flex;
    align-items: center;
    width: 350px;
    height: 330px;
  }
  .foto{
    z-index: 0;
    width: 200px;
  }
}
