.home_container{
  margin-top: -20px;
  padding: 100px 100px 100px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100x;
}
.home_div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home_text {
  display: flex;
  flex-direction: column;
  width: 750px;
  padding: 110px 120px 120px 120px;
  text-align: justify;
  gap: 15px;
  z-index: 0;
}

.home_text p{
  line-height: 1.5;
}
.home_text h1 span:nth-child(2){
  font-size: 3rem;
  -webkit-text-stroke: 1px #191924;
  text-shadow: 6px 6px 6px #F3415B;
}

body.dark .home_text h1 span:nth-child(2){
  -webkit-text-stroke: 1px #191924;
  text-shadow: 6px 6px 6px #2980B8;
}

.icon_title{
  animation-name: hi-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes hi-animation{
  0%{
    transform: rotate(0deg);
  }
  10%{
    transform: rotate(14deg);
  }
  20%{
    transform: rotate(-8deg);
  }
  30%{
    transform: rotate(14deg);
  }
  40%{
    transform: rotate(-4deg);
  }
  50%{
    transform: rotate(10deg);
  }
  60%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.iconsbtn{
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.iconsbtn a {
  font-size: 42px;
  color: black;
}

body.dark .iconsbtn a{
  color: white;
}
.downloadbtn{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 15px;
  text-align: center;
}

.effect {
  display: inline-block;
  padding: 25px 30px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: .5s;
  overflow: hidden;
  text-decoration: none;
}

.effect:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  filter: hue-rotate(225deg)
}

.effect:first-child,
.effect:last-child{
  filter: hue-rotate(180deg)
}

body.dark .effect:first-child{
  filter: hue-rotate(10deg);
}

body.dark .effect:last-child{
  filter: hue-rotate(10deg);
}

.effect span {
  position: absolute;
  display: block;
}

.effect span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.effect span:nth-child(2){
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: .25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.effect span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: .5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.effect span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: .75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}

.home_img {
  position: relative;
  width: 600px; 
  height: 500px; 
  overflow: hidden; 
  margin-top: 60px;
}

.codingimg, .codingimg2 {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 100%; 
  height: auto; 
  border: transparent;
  border-radius: 20px;
  border-top: 6px solid #F3415B;
  border-bottom: 6px solid #F3415B;
  transition: opacity 0.5s ease, transform 0.5s ease; 
}

body.dark .codingimg{
  border-top: 6px solid #2980B8;
  border-bottom: 6px solid #2980B8;
}

body.dark .codingimg2{
  border-top: 6px solid #2980B8;
  border-bottom: 6px solid #2980B8;
}

.codingimg {
  z-index: 0; 
  opacity: 1; 
}

.codingimg2 {
  z-index: 0; 
  opacity: 0; 
}

.home_img:hover .codingimg {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.1); 
}

.home_img:hover .codingimg2 {
  opacity: 1; 
  transform: translate(-50%, -50%) scale(1); 
}

@media (width < 768px){
  .home_container{
  max-width: 100vw;
  margin-top: 20px;
  padding: 30px 100px 100px ;
}
  .home_div{
    display: flex;
    flex-direction: column;
  }
  .home_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 55px 100px 100px 100px;
  }
  .home_img{
    display: flex;
    flex-direction: column;
    width: 80%;
    top: 50%;
    left: 10%;
    margin-top: -100px;
  }
  .codingimg .codingimg2{
    width: 100%;
  }
}
@media (width < 480px){
  .home_container{
  max-width: 100vw;
}
  .home_div{
    display: flex;
    flex-direction: column;
  }
  .home_text {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 42px;
}
.home_img{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 330px;
  margin-left: -35px;
  margin-top: 40px;
}
.codingimg .codingimg2{
  top: 50%;
  left: 50%;
}
}
@media (width < 320px){
  .home_container{
  border: 1px solid red;
  width: 208vw;
  }
  .home_div{
    display: flex;
    flex-direction: column;
  }
  .home_text {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  width: 100%;
  padding: 100px;
  }
  .home_img{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 80%;
    top: 50%;
    left: 10%;
    margin-top: .5px;
  }
  .codingimg .codingimg2{
    top: 50%;
    left: 50%;
  }
}