.pjt{
  padding: 100px 0 0 0;
  text-decoration: underline;
  font-size: 2.5rem;
  color: #25234D;
}
body.dark .pjt{
  color: #F3F1F5;
}
.projects_container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.projects_text{
  padding: 50px;
  width: 500px;
  height: 100px;
  margin: 24px 500px -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 42px;
  box-shadow: 6px 6px 6px #25234D;
  text-align: justify;
  background-color: #F3415B;
  z-index: 0;
  color: white;
}

body.dark .projects_text{
  background-color: #164678;
  box-shadow: 6px 6px 6px #F3F1F5
}

.projects_text p{
  text-align: center;
}
.cards_container{
  margin: 51px 100px 51px 100px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.swiper-slide {
  background-position: center;
  background-size:cover;
  /* width: 460px; */
  /* height: 460px; */
}

.swiper-button-next,
.swiper-button-prev {
  color: #191924;
  cursor: pointer;
}

body.dark .swiper-button-next, .swiper-button-prev{
  color: #F3F1F5;
}
.swiper-slide img {
  display: block;
  width: 100%;
}

.card_img{
  width: 300px;
  height: 300px;
}

.swiper-slide{
  box-shadow: 6px 6px 6px #F3415B;
}

body.dark .swiper-slide{
  box-shadow: 6px 6px 6px #F3F1F5;
}
.swiper-slide .textcard{
  padding: 6px;
  background-color: #191924;
  color: #F3F1F5;
}
.swiper-slide h2 {
  font-size: 1.5rem;
}

.swiper-slide .cards_btn{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

body.dark .swiper-slide .cards_btn{
  color: #F3F1F5;
}
.swiper-slide a{
  font-size: 33px;
  color: #F3F1F5;
}

body.dark .swiper-slide a{
  color: #F3F1F5;
}

@media(width < 768px){
  .projects_container{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects_text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 100px 0;
  }
  .cards_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
  }
  
}
@media (width < 480px) {
  .projects_container{
    max-width: 100vw;
     display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects_text{
    padding: 33px;
    width: 380px;
  }
  .cards_container{
   
    margin: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

  .cards_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
  }
}
